.chatScreen__message {
  display: flex;
  align-items: center;
  padding: 20px;
}
.chatScreen__text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}
.chatScreen__timestamp {
  color: gray;
  text-align: center;
  padding: 20px;
}
.chatScreen__textUser {
  margin-left: auto;
  padding: 20 px;
  background-color: #28b3cd;
  padding: 15px;
  border-radius: 20px;
  color: white;
}
